.navbar{
    background: #22313f;
    height: 80px;
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
}


.search{
    width: 60%;
    margin: 1%  auto;
    display: flex;
    justify-content: space-between;
}

.input-container{
    width: 60%;
    margin: 5% auto;
    display: flex;
}

input[type="text"]{
    flex : 3;
    border-color:  transparent;
    padding: 20px;
    border-radius: 6px;
    font-family: 'Oswald', sans-serif;
    background: #263849;
    color: #fff !important;
    margin: 0 2px 0 0 ;
}

::placeholder { 
    color: #b2e4d5;
    opacity: 1; /* Firefox */
  }

input[type="text"]:focus{
    outline: none;
    border-bottom:  3px solid  #7dd87d;

}

input[type="submit"]{
    flex : 1;
    border-radius: 6px;
    background: #263849;
    color: #fff;
    border: none;
    font-family: 'Oswald', sans-serif;
}

.checkbox-input{
    margin: 0 20px;
}

.todo-container{
    width: 60%;
    margin: auto;
}

.todo-item{
    background-color: #263849;
    border-radius: 6px;
    padding: 20px;
    margin: 2px  0;
    color: #b2e4d5;
    position: relative;
}

.btn-group{
    position: absolute;
    right: 0;
    top : 0;
    bottom: 0;
    right: 0;
    align-items: center;
}

.btn{
    border: none;
    counter-reset: #fff;
    color: #225763;
}

